<br>
<div class="container text-center">
  <div class="row justify-content-center mb-3">
    <div
      class="col-md-3"
      *ngFor="let ciudad of ciudades.slice(0, 4)"
      (mouseenter)="agregarAnimacion(ciudad)"
      (mouseleave)="quitarAnimacion(ciudad)"
    >
      <div
        class="card mx-auto"
        style="width: 200px;"
        [ngClass]="{'animate__animated animate__pulse': ciudad.animada}"
      >
        <img [src]="ciudad.imagen" class="card-img-top" [alt]="ciudad.nombre" />
        <div class="card-body">
          <h5 class="card-title">{{ ciudad.nombre }}</h5>
          <p class="card-text">{{ ciudad.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center mb-3">
    <div
      class="col-md-3"
      *ngFor="let ciudad of ciudades.slice(5, 9)"
      (mouseenter)="agregarAnimacion(ciudad)"
      (mouseleave)="quitarAnimacion(ciudad)"
    >
      <div
        class="card mx-auto"
        style="width: 200px;"
        [ngClass]="{'animate__animated animate__pulse': ciudad.animada}"
      >
        <img [src]="ciudad.imagen" class="card-img-top" [alt]="ciudad.nombre" />
        <div class="card-body">
          <h5 class="card-title">{{ ciudad.nombre }}</h5>
          <p class="card-text">{{ ciudad.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>








